@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="text-center">
    <h1>Elden Ring</h1>
        <p>Did the seaon 8 of Game of Thrones disappoint you like it did most of the fans of the series?</p>
        <p>Well, most people would talk about how Elden Ring filled that void in their lives</p>

    <h1>Story</h1>
        <p>One night long ago, Ranni the witch orchestrated the Night of the Black Knives, where a part of the rune of death was stolen</p>
        <p>The people who stole this then went along to kill one of the Demi-gods, one of queen Marika's children, Godrick the Golden</p>
        <p>Out of rage and grief Marika shhattered the Elden Ring, a powerful relic that can give holders emense strength</p>
        <p>After this night, the Shattering occured, a great war between all of Marika's children who each wanted to claim a piece of the Elden Ring for themselves</p>
        <p>After this war no new Lord arose, and Queen Marika was no where to be seen, and the world lies in chaos</p>
        <p>You play as a Tarnished, a person aowken from death from the guidance of grace with the chance to restore the Elden Ring and become Elden Lord</p>

    <h1>Gameplay</h1>
        <p>Elden Ring is a Soulsbourne game, meaning it is extremely difficult. Having to roll and dodge attacks from enemies that can kill you very easily</p>
        <p>Roam the Lands Between a huge open world adventure and defeat the demi-gods that stand in your way</p>

    <img src="~/Images/EldenRingMap.png" alt="Elden Ring Map" height="500" width="500">
</div>

