@model IEnumerable<Games>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our site</h1>
    <p>Here is a list of all our favorite games!</p>
    <h3>List of Games</h3>
    <p> Here we will talk about our favorite games!</p>
    
    
</div>
