@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="text-center">
    <h1>Jaipur</h1>
        <p>During Covid shutdown, my husband and I got really into two player tabletop games.</p>
        <p>We especially love games where camels are involved</p>

    <h1>Game Description</h1>
        <p>Jaipur is a card based trading and set collection game for two players, designed by Sébastien Pauchon and released in 2009. 
            In Jaipur each player is hoping to become the personal trader of the Maharaja by collecting and exchanging goods: 
            gold, silver, gems, leather, spices, or cloth. Jaipur is played in rounds, with the winner collecting 2 out of 
            3 Seals of Excellence.</p>

    <h1>End of Each Round</h1>
        <p>A round ends when 3 of of the 6 piles have no more tokens, OR when a player is unable to draw a pile from the supply deck. 
            Players then total up the values of all of their goods cards, and the bonus tokens. The player with the most camels in 
            their herd receives the camel token, worth 5 points. Whichever player has the highest total receives a Seal of Excellence 
            token.</p>

     <h1>End of Each Round</h1>
        <p>The game is over when one player possesses 2 Seals of Excellence. If a round completes and no player possesses 2 Seals 
            then a new round begins.</p>

    <img src="~/Images/Jaipur-Board-Game-Overview.png" alt="Jaipur" height="950" width="450">
</div>
