
@{
    ViewData["Title"] = "Outer Wilds";
}

<h1>Have you ever enjoyed the thought of traveling through space?</h1>

<p>Well this game gives you that chance. Play as an alien exploring their solar system for the first time</p>
<br/>
<h1>Story</h1>
<p>The story of Outer Wilds is a complex one that you discover through reading texts from a previous species that lived in the solar system before you</p>

<h1>World</h1>

<img src="~/Images/GiantsDeep.png" />

<p>The world of Outer Wilds is a sight to behold. Each planet has unique quirks about it that makes exploring so much more fun</p>

<p>For Example: Giants Deep is a world full of raging tornadoes that can lift any object into outer space including the few floating islands that inhabit the planet</p>




