@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="text-center">
    <h1>Raccoon Tycoon</h1>
        <p>This game has EVERYTHING you could want. Railroads, Towns, a faulty market, and woodland creatures. </p>
        <p>I especially love that each character has a cute little outfit</p>

    <h1>Game Description</h1>
        <p>Astoria is a land bustling with productivity and growth! New towns, factories, and railroads are springing up across 
            the land. A few savvy business tycoons (you and your opponents) are determined to make your fortunes on the crest of 
            this wave. These tycoons start out as the producers of the key commodities: wheat to feed the growing towns and 
            factories, wood and iron to build them, coal to fuel the trains and factories, and manufactured goods and luxuries 
            to fill the insatiable demand of the animals of Astoria.</p>

        <p>Cornering the market for the most valuable commodities can create small fortunes that can be invested in the new 
            businesses, turning them into huge fortunes. The sky is the limit during this Gilded Age!</p>

    <h1>Goal of the Game</h1>
        <p>In Raccoon Tycoon, players try to produce the most valuable commodities in an ever-changing marketplace. They then 
            use those commodities to build towns, or sell them at the best price to secure great profits that can be used to 
            win auctions for the all-important railroads. The profits may also be used to buy powerful buildings that give the 
            players power-ups or bonuses in production. Owning the best towns and railroads determines victory. There can be 
            only one "top dog" in Astoria. Is it you?</p>

     

    <img src="~/Images/racoon.jpg" alt="Racoon Tycoon" height="950" width="1000">
</div>
